 
 .wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  background-color:black;
  justify-content: center;

 }


.sumbar {
 background-color:white;
}

.symbol {
  background-color: orange;
  color:white;
}
.button {
  background-color:lightgray;
  size-adjust:inherit;
}
.buttonrow1 {}
