 
 .wrapper {
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:black;
  justify-content: center;
  width: 400px;
  height: 400px;
 }


.sumbar {
 background-color:black;
 text-align: right;
 color:white;
 padding-inline-start: 0%;
 padding:15px;
 font-size: 32px;
}

.symbol {
  background-color: orange;
  padding-inline-start: 0%;
  color:white;
  padding:15px 25px;
}
.button {
  background-color:lightgray;
  padding-inline-start: 0%;
  padding:15px 30px;
}
.buttonzero {
  padding: 15px 105px;
}
