 
 .wrapper {
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:black;
  width: 125px;
 }


.sumbar {
 background-color:white;
}

.symbol {
  background-color: orange;
  color:white;
}
.button {
  background-color:lightgray;
}
